# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.

# Database files
db_chroma